@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Raleway&display=swap');

* {
	/* border: 1px solid red; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background-image: url('https://i.imgur.com/FMapXTE.jpg');
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
}
::-webkit-scrollbar {
	display: none;
}

.name {
	width: 100%;
	font-family: 'Pompiere', sans-serif;
	font-weight: bolder;
	font-size: 39px;
	padding-bottom: 5px;
	text-shadow: 1px 1px black;
}

/* .name :hover {
	color: #2ec4b6;
} */

.titles {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
}

.titles :hover {
	color: #9d0208;
}

.menu {
	font-family: 'Pompiere', sans-serif;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
}

/*center = top: 50% left: 50%*/
.center {
	position: fixed;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: black;
}

.contentBox {
	height: 100%;
	width: 0;
	background-color: rgba(40, 40, 40, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	transition: all 1s;
	overflow: scroll;
	z-index: 100;
}

.width1 {
	width: 100%;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	color: white;
	cursor: pointer;
}

.isabelle {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 63%;
	left: 2%;
	font-family: 'Tangerine', sans-serif;
	font-weight: bolder;
	font-size: 23px;
}

/*added to correct color after adding link*/
.isabellea {
	color: black;
}

.isabelle :hover {
	color: #9d0208;
	cursor: pointer;
}

.meetfooter,
.fa-envelope,
.fa-github,
.fa-linkedin,
.fa-instagram {
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}

/* .meetfooter:hover, .fa-envelope:hover {
	color: #9D0208;
} */

.fa-envelope:before,
.fa-github:before,
.fa-linkedin:before {
	color: white;
}

.meetfooter {
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
	font-weight: bold;
	text-shadow: 1px 1px black;
}

#developer {
	align-items: center;
}

.projects {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: absolute;
	top: 25%;
	color: white;
}

.images {
	border: 1px solid white;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

.close {
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}

.pagetitles {
	text-align: center;
	margin-top: 20%;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-weight: bolder;
	padding-bottom: 15px;
	color: #ff9f1c;
	text-shadow: 1px 1px #ff9f1c;
}

.projecttitles {
	font-family: 'Pompiere';
	font-weight: bold;
	font-size: 35px;
	color: #2ec4b6;
	padding: 10px;
	cursor: pointer;
}

.projecttitles:hover {
	color: #ffdd00;
}

.projectdesc {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: white;
	padding: 10px;
}

.sitelinks {
	display: flex;
	justify-content: center;
	padding-top: 5px;
	padding-bottom: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #2ec4b6;
	cursor: pointer;
}

/*added class to force correct color on site/code words. color changed when links were added*/
.linksite {
	color: #2ec4b6;
}

.linksite:hover {
	color: #ffdd00;
}

.meetcontent {
	margin: auto;
	width: 40%;
	padding-top: 20%;
	color: white;
	z-index: 100;
}

.descriptions {
	position: absolute;
	left: 0;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: white;
}

span {
	font-style: italic;
}

@media screen and (min-width: 768px) {
	.center {
		top: 12%;
		left: 70%;
	}

	.name {
		font-size: 45px;
	}

	.menu {
		font-size: 35px;
	}

	.isabelle {
		font-size: 24px;
		top: 76%;
	}

	.pagetitles {
		margin-top: 10%;
		font-size: 45px;
	}

	.projects {
		top: 20%;
	}

	.projecttitles {
		font-size: 55px;
	}

	.projectdesc {
		font-size: 20px;
		width: 60%;
		justify-content: center;
		margin: auto;
		text-align: left;
	}

	.sitelinks {
		font-size: 20px;
	}

	.images {
		width: 200px;
	}

	.meetcontent {
		padding-top: 10%;
		width: 20%;
	}

	.descriptions {
		font-size: 18px;
	}

	.close {
		font-size: 18px;
	}
}
@media screen and (min-width: 1024px) {
	.App {
		background-image: url('https://i.imgur.com/uucnHTJ.jpg');
	}

	.name {
		font-size: 63px;
	}

	.menu {
		font-size: 40px;
	}

	.isabelle {
		font-size: 30px;
	}

	.meetfooter {
		text-shadow: none;
	}

	.meetfooter,
	.fa-envelope:before,
	.fa-github:before,
	.fa-linkedin:before {
		color: #9d0208;
	}

	.pagetitles {
		margin-top: 8%;
	}

	.projects {
		flex-direction: row;
		justify-content: center;
	}

	.meetcontent {
		padding-top: 10%;
	}

	.descriptions {
		font-size: 25px;
		padding-left: 15%;
		padding-right: 15%;
	}

	.images {
		width: 200px;
	}

	.close {
		font-size: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.name {
		padding-top: 5%;
		font-size: 89px;
	}

	.menu {
		font-size: 55px;
	}

	.isabelle {
		font-size: 34px;
	}

	.meetfooter,
	.fa-envelope,
	.fa-github,
	.fa-linkedin,
	.fa-instagram {
		font-size: 25px;
	}

	.pagetitles {
		font-size: 55px;
	}

	.projects {
		margin-top: 8%;
	}

	.projecttitles {
		font-size: 60px;
	}

	.images {
		width: 250px;
	}

	.sitelinks {
		font-size: 25px;
	}

	.close {
		padding: 15px;
		font-size: 25px;
	}
}

@media screen and (min-width: 2560px) {
	.name {
		padding-top: 2%;
		font-size: 150px;
	}

	.menu {
		font-size: 85px;
	}

	.isabelle {
		top: 80%;
		font-size: 70px;
	}

	.meetfooter,
	.fa-envelope,
	.fa-github,
	.fa-linkedin,
	.fa-instagram {
		font-size: 45px;
	}

	.pagetitles {
		font-size: 85px;
	}

	.projecttitles {
		font-size: 90px;
	}

	.projectdesc {
		font-size: 35px;
	}

	.sitelinks {
		font-size: 35px;
	}

	.descriptions {
		font-size: 35px;
	}

	.images {
		width: 350px;
	}

	.close {
		padding: 20px;
		font-size: 35px;
	}
}
