@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

* {
	/* border: 1px solid red; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background-image: url('https://i.imgur.com/PXFnj5N.jpg');
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.name {
  width: 100%;
  font-family: 'Comic Neue', sans-serif;
  font-weight: 700;
  font-size: 27px;
  padding-bottom: 10px;
}

.name :hover {
  color: #934d56;
}

.titles {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.titles :hover {
  color: #934d56;
}

.menu {
  font-family: 'Comic Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

/*center = top: 50% left: 50%*/
.center {
	position: fixed;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: black;
	z-index: 100;
}

.contentBox {
	height: 100%;
	width: 0;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	transition: all 1s;
	overflow: hidden;
}

.width1 {
	width: 100%;
}

.footer {
	display: flex;
	flex-direction: row;
  justify-content: center;
  align-items: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	color: black;
	/* transform: translate(-50%, -50%); */
}

.footer :hover {
  color: #934d56;
}

.isabelle {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 61.5%;
  left: 2%;
  font-family: 'Tangerine', sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

.isabelle :hover {
  color: #934d56
}

.meet, .fa-envelope, .fa-github, .fa-linkedin, .fa-instagram {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.meet {
  font-family: 'Comic Neue', sans-serif;
  font-weight: bold;
}

.projects {
  display: flex;
  width: 100vh;
  height: 100%;
  overflow: scroll;
}
