@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Raleway&display=swap');

* {
	/* border: 1px solid red; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background-image: url('https://i.imgur.com/7p1l6qA.jpg');
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* overflow: scroll; */
}

.name {
	width: 100%;
	font-family: 'Pompiere', sans-serif;
	font-weight: bolder;
	font-size: 39px;
	padding-bottom: 5px;
}

.name :hover {
	color: #707070;
}

.titles {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
}

.titles :hover {
	color: #707070;
}

.menu {
	font-family: 'Pompiere', sans-serif;
	font-size: 25px;
	font-weight: bold;
}

/*center = top: 50% left: 50%*/
.center {
	position: fixed;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: black;
	/* z-index: 100; */
}

.contentBox {
	height: 100%;
	width: 0;
	background-color: rgba(40, 40, 40, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	transition: all 1s;
	overflow: hidden;
	z-index: 100;
}

.width1 {
	width: 100%;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	color: black;

	/* transform: translate(-50%, -50%); */
}

.footer :hover {
	color: #934d56;
}

.isabelle {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 62%;
	left: 2%;
	font-family: 'Tangerine', sans-serif;
	font-weight: bolder;
	font-size: 20px;
}

.isabelle :hover {
	color: #934d56;
}

.meet,
.fa-envelope,
.fa-github,
.fa-linkedin,
.fa-instagram {
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}

.meetfooter {
	font-family: 'Pompiere', sans-serif;
	font-size: 24px;
	font-weight: bold;
}

#developer {
	overflow: scroll;
	align-items: center;
}

.websites {
	color: white;
}

.projects {
	overflow: scroll;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: absolute;
	top: 10%;
	color: white;
}

.images {
	border: 1px solid white;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

.close {
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-weight: bold;
	padding: 10px;
}

.pagetitles {
	font-family: 'Raleway', sans-serif;
	padding-bottom: 15px;
	color: #ff9f1c;
}

.projectTitles {
	font-family: 'Pompiere';
	font-weight: bold;
	font-size: 35px;
	color: #2ec4b6;
	padding: 10px;
}

.projectdesc {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	/* color: #ff9f1c; */
	padding: 10px;
}

.sitelinks {
	display: flex;
	justify-content: center;
	padding-top: 5px;
	padding-bottom: 35px;
	font-weight: bold;
	color: #2ec4b6;
}

.meetcontent {
	margin: auto;
	width: 50%;
	padding-top: 20%;
	color: white;
	z-index: 100;
}

.kilahdesc {
	position: absolute;
	left: 0;
	padding: 10px;
	font-weight: bold;
	overflow: scroll;
}

@media screen and (min-width: 768px) {
	
	.center {
		top: 12%;
		left: 60%;
	}

	.name {
		font-size: 45px;
	}
	
	.menu {
		font-size: 35px;
	}
}